
<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" href="/css/style.css?v=2">
</head>
<body id="harvest">

<form action="/harvest" method="POST">
  <input type="text" name="name" placeholder="Name" required="required" />
  <input type="email" name="email" placeholder="Email" required="required" autocomplete="on" />
  <input type="submit" />
</form>

</body>
</html>
