
<% if (user_logged_in) { %>
<script>LOGGED_IN = true;</script>
<% }else{ %>
<script>LOGGED_IN = false;</script>
<% } %>

<div id="user">&nbsp;</div>
<div id="user-template" style="display: none">Hello <a href="http://twitter.com/${screen_name}">${screen_name}</a>; I've found <span id="counter">0</span> of your friends on Github:</div>

<div id="frontpage">
   <a href="#" id="login-twitter"><img src="/images/sign-in-with-twitter-l.png" /></a>
</div>

<div id="friend-template" style="display: none" class="result">
  <a href="http://github.com/${login}">
     <img src="http://gravatar.com/avatar/${gravatar_id}" title="${login}" />
  </a>
  <ul>
     <li class="name">
        {{if name}}
             ${name}
	{{else}}
	     ${login}
        {{/if}}
     </li>
     <li>${location}</li>
     <li>Repos: ${public_repo_count}</li>
     <li>Followers: ${followers_count}</li>
  </ul>
</div>

<div id="results">

</div>
