
<div id="loader"></div>

<div id="loader-template" style="display: none">
  Processing ...
  <a href="http://twitter.com/${screen_name}">
    <img src="${profile_image_url}" /> ${screen_name}
  </a>
</div>

<div id="friend-template" style="display: none">
  <img src="http://gravatar.com/avatar/${gravatar_id}" />
  <a href="http://github.com/${login}">${fullname}</a>, ${twitter_username}
</div>
