
<a href="#" target="_blank" id="login-twitter"><img src="/images/sign-in-with-twitter-l.png" /></a>

<div id="friend-template" style="display: none">
  <img src="http://gravatar.com/avatar/${gravatar_id}" />
  <a href="http://github.com/${login}">${fullname}</a>, ${twitter_username}
</div>
